# Local database file
keymaster.db

# Compiled binary for different OSs
./keymaster
./keymaster.exe

# Go workspace files
go.work
go.work.sum

# Dependency directory (if you use 'go mod vendor')
vendor/

# Common editor/IDE folders
.claude/
.idea/
.keymaster.yaml
keymaster.db-wal
keymaster.db-shm
keymaster-backup*.json.zst